*,
*::before,
*::after {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/Muller Regular'), url('../fonts/Muller-Regular'),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}
.container{
    width: 85%;
    max-width: 1200px;
    margin: auto;
}
.header{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone-number{
    display: block;
    margin-left: 15px;
    margin-right: 90px;
}
.heading-red{
    color: #D02B38;
    margin-bottom: 2px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
    line-height: 23px;
}
.heading-normal{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    color: #000000;
}
.img-facebook{
    margin-right: 25px;
}
.img-instagram{
    margin-right: 100px;
}
.logo{
    margin-right: 100px;
}
.img-logo{
    display: flex;
    margin-bottom: 10px;
}
.logo-text{
    margin-left: -10px;
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    letter-spacing: -0.02em;
    color: #000000;
}
.trans-ru{
    margin-right: 20px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
    color: #D02B38;
}
.trans-lat{
    margin-right: 60px;
    color: rgba(0, 0, 0, 0.2);
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
}
.img-loupe{
    margin-right: 20px;
}
.img-cart{
    margin-right: 15px;
}
.card-wrap{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.card{
    position: relative;
    margin: 0 50px 60px 0;
    flex-basis: 45%;
}
.main-heading--red{
    display: block;
    position: absolute;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #D02B38;
    left: 0;
    right: 0;
}
.view{
    display: block;
    position: absolute;
    bottom: 10%;
    width: 192px;
    height: 52px;
    background: #F9F9F9;
    border-radius: 10px;
    left: 30%;
}
.btn-text{
    padding: 13px 37px 13px 36px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    text-decoration: none;
}
.about{
    background: #F9F9F9;
}
.about{
    padding-top: 50px;
    padding-bottom: 76px;
}
.regular-heading{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: -0.02em;
    color: #333333;
}
.about-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 230px;
    margin: auto;
    margin-bottom: 50px;
}
.about-box{
    display: flex;
}
.about-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-heading--red{
    font-family: Muller;
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 143.69%;
    text-align: left;
    letter-spacing: -0.02em;
    color: #D02B38;
    margin: 0;
}
.about-text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: #000000;
}
.about-logo{
    margin-right: 30px;
}
.about-info{
    display: block;
}
.reg-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 360px;
    margin: auto;
    margin-bottom: 20px;
}
.photos{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 50px;
}
.clothes{
    padding-top: 50px;
    padding-bottom: 75px;
}
.clothes-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clothes-box{
    margin-left: 15px;
    margin-right: 15px;
}
.clothes-heading{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0;
}
.clothes-text{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 143.69%;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.5);
}
.clothes-img{
    width: 250px;
    margin-bottom: 20px;
}
.partners{
    padding-top: 50px;
    padding-bottom: 80px;
    background: #F9F9F9;
}
.part-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 350px;
    margin: auto;
    margin-bottom: 60px;
}
.partners-wrap{
    display: flex;
    justify-content: center;
}
.partners-box--long{
    position: relative;
    display: flex;
    position: relative;
    margin-right: 30px;
}
.partners-box--short{
    display: flex;
    position: relative;
}
.long-info{
    display: flex;
    position: absolute;
    flex-direction: row;
    padding: 280px 30px 35px 30px;
}
.short-info{
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 170px 41px 112px 41px;
}
.long-text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 143.69%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.short-text{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 143.69%;
    text-align: center; 
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.long{
    display: flex;
    background: #F9F9F9;
    border-radius: 10px;
    margin-left: 25px;
    height: 45px;
    margin-top: 17px;
    width: 200px;
    padding-left: 60px;
}
.short{
    margin-top: 30px;
    background: #F9F9F9;
    border-radius: 10px;
    width: 200px;
    margin-left: 50px;
    height: 45px;
}
.delivery{
    padding-top: 50px;
    padding-bottom: 64px;
}
.del-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 150px;
    margin: auto;
    margin-bottom: 60px;
}
.delivery-wrap{
    display: flex;
    justify-content: center;
}
.omniva{
    margin-right: 115px;
}
.pay{
    background: #F9F9F9;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pay-head::after{
    display: block;
    content: '';
    border: 4px solid #D02B38;
    width: 270px;
    margin: auto;
    margin-bottom: 40px;
}
.pay-wrap{
    display: flex;
    justify-content: center;
}
.pay-img{
    margin: auto;
    margin-right: 105px;
}
.footer{
    background: #181818;
    padding-top: 60px;
    padding-bottom: 30px;
    margin: 0;
}
.footer-wrap{
    display: flex;
    justify-content: center;
}
.footer-group{
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}
.footer-group-col{
    position: absolute;
    display: block;
    margin-left: 700px;
    margin-top: -120px;
}
.light-heading{
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 143.69%;
    letter-spacing: 0.08em;
    color: rgba(255, 255, 255, 0.6);
}
.links{
    text-decoration: none;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 143.69%;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.mark{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 143.69%;
    color: #FFFFFF;
}
.tabs{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer-logo{
    margin-right: 25px;
}
.form-text{
    font-family: Muller;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 143.69%;
    color: #000000;
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
}
.form-text:focus::-webkit-input-placeholder {
    color: transparent
  }
  
  :focus::-moz-placeholder {
    color: transparent
  }
  
  :focus:-moz-placeholder {
    color: transparent
  }
  
  :focus:-ms-input-placeholder {
    color: transparent
  }
.form{
    display: block;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
}
.red-btn{
    background: #D02B38;
    border-radius: 10px;
    padding: 10px 0px 10px 10px;
    font-family: Muller;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 143.69%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    outline: none;
    border: none;
}
.swiper-button-next{
   position: absolute;
   top: 3370px;
   right: 280px;
}
.swiper-button-prev{
    position: absolute;
    top: 3380px;
    left: 280px;
}
.phone-img{
    margin-left: -25px;
}
.swiper-button-prev,
.swiper-button-next{
    display: flex;
    margin: 0 auto;
    height: 30px;
    width: 30px;
}
@media (max-width:1890px){
    .swiper-button-next{
        right: 230px;
     }
     .swiper-button-prev{
         left: 230px;
     }
}
@media (max-width:1800px){
    .swiper-button-next{
        right: 200px;
     }
     .swiper-button-prev{
         left: 200px;
     }
}
@media (max-width:1740px){
    .swiper-button-next{
        right: 170px;
     }
     .swiper-button-prev{
         left: 170px;
     }
}
@media (max-width:1670px){
    .swiper-button-next{
        right: 130px;
     }
     .swiper-button-prev{
         left: 130px;
     }
}
@media (max-width:1580px){
    .swiper-button-next{
        right: 90px;
     }
     .swiper-button-prev{
         left: 90px;
     }
}
@media (max-width:1500px){
    .swiper-button-next{
        right: 40px;
     }
     .swiper-button-prev{
         left: 40px;
     }
}
@media (max-width:1400px){
    .swiper-button-next{
        right: 20px;
        top:2830px;
     }
     .swiper-button-prev{
         left: 20px;
         top:2830px;
     }
}
@media (max-width:1400px){
    .heading-red{
        font-size: 12px;
    }
    .card{
        margin: 0 20px 20px 0;
        flex-basis: 0%;
    }
    .card-img{
        width: 450px;
    }
    .clothes-img{
        width: 225px;
    }
    .phone-number{
        margin-right: 40px;
    }
    .img-instagram{
        margin-right: 60px;
    }
    .trans-lat{
        margin-right: 50px;
    }
    .logo{
        margin-right: 50px;
    }
}
@media (min-width:1400px){
    .footer-group-col{
        margin-left: 900px;
    }
}
@media (min-width:1600px){
    .footer-group-col{
        margin-left: 1000px;
    }
}